<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Education, Weapon For Change | Travel Agency | Travel and Tourism | Seeing The World Like Never Before
    </title>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-------Google Adsense---------->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7590529377787290"
      crossorigin="anonymous"
    ></script>

    <!------Required Links-------->
    <link rel="caronical" href="https://www.ennynoahscholars.org" />
    <link rel="og:caronical" href="#" />
    <link rel="image_src" href="{{ url_for('static', filename= 'images/ennynoah1.jpg') }}" />
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename= 'images/ennynoah1.jpg') }}" />

    <!--------SEO-------->
    <meta
      property="og:title"
      content=" Ennynoah | Latest information on Travel and Tourism | Ennynoah Travel's and Tourism | Generate passive income | Websites with latest informations"
    />
    <meta property="og:type" content="article" />
    <meta
      property="og:description"
      content=" Ennynoah | Latest information on Travel and Tourism | Ennynoah Travel's and Tourism | Generate passive income | Websites with latest informations | everything you need to know to become rich | wealth "
    />
    <meta
      property="og:keywords"
      content=" Google | Amazon | Quinn Daisy | real clear politics | reddit politics | politics | politics reddit | r/politics | r politics | political definition | cnn politics | sneaker politics | politics and prose | identity politics | trending politics | red eagle politics | /r politics | fox news politics | florida politics "
    />

    <!---------Extended SEO's------------->
    <meta
      property="og:keywords"
      content=" Ennynoah | Latest information on Travel and Tourism | Ennynoah Travel's and Tourism | Generate passive income | Websites with latest informations | linear programming | weather tech | texas tech basketball | texas tech football | nike tech | virginia tech football | virginia tech | tech desk | texas tech | georgia tech "
    />
    <meta
      name="keywords"
      content=" quinn daisy, quinn daisies, quinn, vogue, fashion, daisy, daisies, buy used cars, Bing, Yahoo, Google, Amazon, Esty, Ebay, Reddit, Politics, CNN, BBC, political science, adsense, adsterra, propeller ads, purchase cars, new car auction, car auction"
    />

    <!------Meta Tags-------->
    <meta name="type" content="HomePage" />
    <meta
      name="description"
      content=" Ennynoah | Latest information on Travel and Tourism | Ennynoah Travel's and Tourism | Generate passive income | Websites with latest informations"
    />
    <meta
      name="keywords"
      content="social media | trump social media | programming | python programming | object oriented programming | rust programming language | dynamic programming | programming language | c++ programming | linear programming "
    />
    <meta name="author" content="Ebire Folayemi Michael" />
    <meta name="revised" content="Quinn Daisies, 3rd of June, 2022" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!---More SEO's-->
    <meta name="rating" content="General" />
    <meta content="all" name="Googlebot-Image" />
    <meta content="all" name="Slurp" />
    <meta content="all" name="Scooter" />
    <meta content="ALL" name="WEBCRAWLERS" />
    <meta name="revisit-ALL" content="2 days" />
    <meta name="robots" content="ALL, index, follow" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">



    <!-----box icons------>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>

  	{% include "navbar.html" %}
  	<br/>

  	<div class="container">

	    {% block content %}
      

		  {% endblock %}
    </div>

    <br/>
    <br/>
    <br/>
    <!----------footer---------->
      <div class="footer container">
        <div class="card-text">
              <div class="container">
                <p> This Site was Built By :</p>
                <p> Copyright &copy; <i class="logo"> Quinn <span> Daisies </span></i> - Simplimism and <i class="logo"> Daisies <span> Kindle </span></i> 2021-2022 | Ikeja, Lagos State, Nigeria | All Right Reserved | 
                      <br/>
                      <br/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="share post-container">
        <span class="share-title">Contact Us Via Social Media</span>
        <div class="social">
          <a href="https://www.facebook.com/folayemi.ebire"
            ><i class="bx bxl-facebook"></i
          ></a>
          <a href="https://www.twitter.com/@_simplimism"
            ><i class="bx bxl-twitter"></i
          ></a>
          <a href="https://www.instagram.com/ebire_folayemi"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/in/folayemi-ebire-2b9410190"
            ><i class="bx bxl-linkedin"></i
          ></a>
        </div>
      </div>
    </div>

    <!------jQuery link-------->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>